@import 'color';
@import 'media';

%align-center {
    display: flex;
    align-items: center;
}
.navbar {
    color: rgb(0, 0, 0);
    // background-color: rgba(24, 19, 26, 0.2);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    z-index: 10;
    border-bottom: 0.5px solid black;
    position: relative;

    &_logo {
        color: rgb(33, 9, 48);
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 24px;
        font-weight: 600;
        letter-spacing: 0rem;
        @extend %align-center;

    }
    &_bar {
        opacity: 0;
        @include tablet{
            color: $dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;
        }
        @include mobile{
            color: $dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;
        }
    }
    
    &_menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 18px;

        @include tablet{
            display: none;

        }
        @include mobile{
            display: none;
        }

        &_links {
            color: $dark;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 1rem 0rem;
            // border-radius: 0px;
            margin-left: 52px;

    
            &:hover{
                color: $dark;
                font-weight: 600;
                border-bottom: 2.5px solid black;
                // background :linear-gradient(to right, #9f77c5c2, #bb5c7197);
                transition: all 0.3s ease;

            }
        }
        #button{
            padding: 12px 24px;
            border: none;
            outline: none;
            border-radius: 18px;
            background: $dark;
            // font-weight: 500;
            margin-left: 26rem;
            color: $light;

            &:hover{
                background: $gradient;
                transition: all 0.3s ease;
            }


        }
    }
    
}
