/* ---------------------NavBar Code---------------------------- */

.navbar ul {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;  
  margin: 0rem 0rem 1rem 0rem;
}

.navbar li {
  padding: 1rem 1rem;
}
.navbar span{
  display: inline-block;
  width: 100%;
  /* border: solid 2px red; */
  text-align: center;
}

#rnav{
  /* border: solid 2px red; */
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}


/* ------------------------SlideShow CODE--------------------------*/

.container {
  margin-left: 4rem;
  margin-right: 4rem;
  width: auto;
}

.content {
  width: auto;
  height: auto;
}

.content img {
  height: 100%;
}

#swiptext {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  align-items: center;
}

#swiptext .tt1 {
  margin: 1rem 6rem;
  width: 30rem;
}

/* ---------------------Games Code---------------------------- */

.outerind {
  height: auto;
  width: auto;
  margin-left: 4rem;
  margin-right: 4rem;
}

.innerind {
  height: auto;
  width: auto;
}

.gamebox {
  height: auto;
  width: auto;
  padding-bottom: 5rem;
}

.rgame {
  height: auto;
}
