@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif, arial;
  /* background-color: black; */
  /* background-image: url('/Background/aestheticar.jpg'); */
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  /* background-image:url(/Background/dishonored.jpg);
    background-position: right;
    background-repeat: no-repeat;  */
}

/* -----------------------------NAVBAR CODE----------------------------- */

.navbar {
  background-color: #2a2a2a;
  margin-bottom: 3rem;
}
.navbar ul {
  position: relative;
  overflow: auto;
  
}
.navbar li {
  position: relative;
  float: left;
  font-family: OpenSans, sans-serif, arial;
  list-style: none;
  margin: 2.5rem;
}
.navbar li a {
  position: relative;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  color: #cccccc;

}
.navbar li a:hover {
  color: red;
  transition: color 0.3s ease-in-out;
}
.search {
  float: right;
  color: white;
  padding: 1.5rem 1.5rem;

}
.navbar input {
  border: none;
  padding: 1rem 3rem;
  width: 20rem;
  outline: none;
}
.fa-solid {
  width: 0.2rem;
  position: relative;
  right: -1.3rem;
  color: black;
  font-size: 1.2rem;
}

span img {
  position: relative;
  float: left;
  height: 6.9rem;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

#b1 {
  background-color: #0078f2;
  border: solid 0.1rem white;
  color: #cfe5fd;
  float: right;
  margin: 1.4rem;
  padding: 1rem 5rem;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

#b1:hover {
  background-color: #7bbfff;
  cursor: pointer;
}

/* ------------------------SlideShow CODE----------------------------- */

.container{
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  width: 148rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.content{
  border-radius: 2rem;
  width: 110rem;
  height: 70rem;
}

.content img{
  height: 70rem;
  border-radius: 2rem;
}

#swiptext {
  width: 30rem;
  height: 70rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

#swiptext .tt1 {
  color: white;
  height: 9rem;
  margin: 1rem 0rem;
  text-align: center;
  line-height: 9rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(to right, #06beff, #2d73ff);
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1rem;

}

/* ---------------------Games Code---------------------------- */

.outerind h1 {
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 5rem;
  color: rgb(145, 255, 0);
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  width: 148rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
}

.outerind {
  padding-top: 10rem;
  padding-bottom: 5rem;
  height: 130rem;
  width: 148rem;
  margin-left: 20rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.innerind a {
  text-decoration: none;
}

.innerind {
  height: 105rem;
  width: 148rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.gamebox {
  height: 50rem;
  width: 70rem;
}
.rgame {
  height: 39rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: #2a2a2a;
}

.rgame img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  
}

.gamebox h2 {
  color: white;
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 3rem;
  background-color: #2a2a2a;

  
}
.gamebox h3 {
  color: white;
  background-color: #2a2a2a;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  
}

/* -------------------FOOTER CODE------------------------- */
footer{
  height: 45rem;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.f-outer {
  /* height: 50rem;
  width: 100%; */
  color: #0074e4;
  border: 1px solid #202020;
  background-color: #202020;
}

.f-inner {
  /* height: 40rem;
  width: 100rem; */
  margin: 5rem 7rem;
  background-color: #202020;
  /* border: solid 1px #202020; */

}

.symbols {
  background-color: #202020;
}
#fsymb {
  font-size: 3.5rem;
  padding: 0.5rem;
  color: #cccccc;
  cursor: pointer;
  background-color: #202020;
  transition: color 0.3s ease-in-out;
  /* border: 1px solid red; */
}
#fsymb:hover {
  color: #0074e4;
}
#fsymb2 {
  font-size: 3.5rem;
  padding: 0.5rem;
  color: #cccccc;
  cursor: pointer;
  background-color: #202020;
  transition: color 0.3s ease-in-out;
  /* border: 1px solid red; */
}
#fsymb2:hover {
  color: red;
}

.fbox1 {
  /* border: 1px solid yellow; */
  /* width: 51rem; */
  border-bottom: 0.1rem solid #333333;
  padding-bottom: 3rem;
  background-color: #202020;
}
.fbox1 p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #656565;
  background-color: #202020;
}
.kmorebox {
  display: flex;
  /* width: 50rem; */
  font-size: 1.4rem;
  background-color: #202020;

  /* border: 1px solid green; */
}
.items1 {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
  color: #e7e7e7;
  background-color: #202020;
}
.items1 span {
  margin-bottom: 0.5rem;
  background-color: #202020;
}
.items2 {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  color: #e7e7e7;
  background-color: #202020;
}
.items2 span {
  margin-bottom: 0.5rem;
  background-color: #202020;
}
.items3 {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  color: #e7e7e7;
  background-color: #202020;
  /* border: solid 1px red; */
}
.items3 span {
  display: block;
  margin-bottom: 0.5rem;
  background-color: #202020;
}

.fbox2 {
  /* width: 95rem; */
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: #bdbdbd;
  padding-top: 4rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #333333;
  background-color: #202020;
}
.fbox2 p {
  background-color: #202020;
}
.terms {
  /* width: 50rem; */
  display: flex;
  text-decoration: none;
  background-color: #202020;
}
.terms a {
  text-decoration: none;
  color: #bdbdbd;
  padding-top: 2rem;
  padding-right: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background-color: #202020;
  transition: color 0.3s ease-in-out;
  /* border: 1px solid yellow; */
}

.terms :hover {
  color: rgb(217, 255, 0);
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
