@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
}

html {
    font-size: 62.5%;
}

main{
    width:100%;
    height: 100vw;
    background-color: #121212;
    /* background-color: red; */
}
#container{
    height: 85rem;
    width: 48rem;
    margin: auto;
    position: relative;
    top: 2%;
    background-color: #202020;
    border: 0.2rem solid #202020;
    border-radius: 0.5rem;
}

.logo{
    height: 7rem;
    /* background-color: yellow; */
    margin-top: 5rem;
    margin-left: 9rem;
    width: 25rem ;
}
.logo a img{
    height: 8rem;
    width: 25rem;
    background-color: #202020;
    margin: auto;
}

#si{
    color: #ffffff;
    /* border-radius: 5px; */
    /* width: 300px; */
    padding:0.5rem;
    padding-top: 1rem;
    padding-left: 20rem;
    background-color: #2b2b2b;
    height: 5rem;
    font-size: 2rem;
    /* position: relative;
    left: 90px; */
    font-family: 'Noto Sans', sans-serif;
}

.outer{
    /* border: solid 1px red; */
    margin: 5rem;
    height: 50rem;
}

#name{
    display: flex;
    justify-content: space-between;   
}

.nfl input{
    width: 18rem;
    padding: 2.5rem 0rem 2.5rem 1.5rem;
    background-color: #202020;
    font-size: 1.5rem;
    color: #cccccc;
    border: solid 0.1rem #686868;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    transition: 0.7s;

    /* font-weight: bold; */
    /* border: none; */
}

.nfl input:focus{
    border: solid 0.1rem white;
}

#fep input{
    width: 100%;
    margin-top: 2.5rem;
    padding: 2.5rem 0rem 2.5rem 1.5rem;
    background-color: #202020;
    font-size: 1.5rem;
    color: #cccccc;
    border: solid 0.1rem #686868;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    transition: 0.7s;
}
#fep input:focus{
    border: solid 0.1rem white;
}


#chk{
    margin-top: 3rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
}

#chk input[type=checkbox]{
    background-color: yellow;
    margin-right: 2rem;
}

button{
    margin-top: 3rem;
    width: 100%;
    padding: 2.5rem 0rem 2.5rem 1.5rem;
    background-color: #0074e4;
    color: white;
    border: none;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    /* font-weight: bold; */
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #4aa8ff;
}

#hbut{
    display: flex;
    justify-content: center;
}

#hbut a{
    margin-top: 3rem;
    width: 20%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: #0074e4;
    color: white;
    border: none;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    /* font-weight: bold; */
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

#hbut a:hover{
    background-color: #4aa8ff;
}

#text{
    color: white;
    margin-top: 4rem;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

}

.far{
    color: white;
    position: relative;
    top: -4.2rem;
    left: 33rem;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}
