@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    background-color: #121212;
}

html {
    font-size: 62.5%;
}

/* ----------------------NAVBAR CODE------------------- */

nav{
    margin: 0rem 23rem;
    padding: 5rem 0rem 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px red; */
    
}
.navouter{
    /* height: 8rem; */
    width: auto;
    /* border: solid 1px red; */
    /* margin-left: 23.5rem; */
    
}
.navinner{
    height: auto;
    /* background-color: #202020; */
    /* border: solid 1px blue; */
}
.fa-magnifying-glass{
    background-color: #202020;
    /* border: solid 1px yellow; */
    border-radius: 1rem;
    
}
#srchbutt{
    color: #9a9a9a;
    width: 2.5rem;
    height: 5rem;
    font-size: 1.5rem;
    border: none;
    background-color: #202020;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1.5rem;
    position: relative;
    left: 1.4rem;
    
}

.navinner input{
    height: 5rem;
    /* text-align: left; */
    color: #5b5b5b;
    /* border: 5px solid #202020; */
    border: none;
    font-size: 1.5rem;
    outline: none;
    padding-left: 2.5rem;
    background-color: #202020;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}
#home1{
    text-decoration: none;
    margin-left: 5rem;
    color: #9a9a9a;
    transition: color 0.2s ease-in-out;
    /* border: solid 1px red; */
    font-size: 1.8rem;
}

#home1:hover{
    color: yellow;
}



/* ----------------------MAIN CODE--------------------- */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outer{
    height: auto;
    margin:3rem 2.5rem;
    background-color: #121212;
}

#gname h3{
    color: white;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}


.wiperbyj{
    height: 65rem;
    width: 100rem;
    margin-top: 4rem;
}

.sidelogo{
    height:24rem ;
    width: 38rem;
    margin-top: -65rem;
    margin-left: 103.5rem;
}

.sidelogo img{
    margin-top: 3rem;
    height: 18rem;
    width: 36rem;
    margin-left: 1.5rem;
    
}

.sdpanel{
    height: 48rem;
    /* background-color: blue; */
    margin-left: 107rem;
    margin-top: 1rem;
    /* border: 1px solid blue; */
    width: 33rem;
}

.content{
    height: 40rem;
    /* border: 1px solid green; */
    margin-top: -10rem;
    width: 100rem;
}

.content h3{
    padding-top: 5rem;
    color: #ff4655;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}
.content h4{
    padding-top: 2rem;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.content h5{
    padding-top: 2rem;
    color: #858585;
    font-size: 2rem;
    text-align: justify;
}

.specs{
    /* margin-top: 100px; */
    height: 70rem;
    background-color: #202020;
    border: 0.1rem solid #202020;
    width: 100rem;

}
#spectext{
    height: auto;
    padding: 2rem 0rem;
    font-size: 3rem;
    color: white;
    /* border: solid 1px blue; */
}
#free{ 
    font-size: 2.5rem;
    color: #d2d2d2;
    font-family: Inter,sans-serif;
}

#purch p{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #9a9a9a;
    font-family: Inter,sans-serif; 
    /* border: 2px solid yellow; */
}

.specin{
    /* border: solid 1px red; */
    background-color: #202020;
    height: 60rem;
    margin: 8rem 6rem;
}
.windspec{
    color: white;
    background-color: #202020;
    width: 10rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 0.2rem solid white;
}
#specset{
    color: #9f9f9f;
    border-top: 0.1rem solid #373737;
    background-color: #202020;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* border: 1px solid blueviolet; */
    /* margin-top: 20px; */
}
#min{
    position: relative;
    right: 34.8rem;
    background-color: #202020;
}
#rec{
    position: relative;
    left: 4rem;
    background-color: #202020;
}


.outerbox{
    border-top: solid 1px #373737;
    background-color: #202020;
    height: auto;
    /* border: solid 2px red; */
    color: white;
    display: flex;
    gap: 6%;
    font-size: 1.7rem;
    
}

.ibox{
    /* border: 2px solid blue; */
    height: auto;
    width: 100%;
    background-color: #202020;
}

.x{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    /* border: solid 1px green; */
    height: auto;
    margin: 2rem 0rem;
    padding: 0rem 0rem;
}

.y{
    background-color: #202020;
    color: #939393;    
}

.z{
    background-color: #202020;

}

.lang{
    color: #9f9f9f;
    margin-top: 2rem;
    background-color: #202020;
    font-size: 1.8rem;
    /* border: 1px solid yellow; */
}

.nlang{
    color: white;
    font-size: 1.6rem;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid #373737;
    background-color: #202020;
}

.copyr{
    margin-top: 3rem;
    color: #9f9f9f;
    background-color: #202020;
    font-size: 1.4rem;
}

#privpol{
    padding: 1rem;
    font-size: 1.6rem;
    color: white;
    margin: auto;
    background-color: #202020;
    /* border: solid 1px red; */
    text-align: center;
}

.buttget button{
    margin-top: 1rem;
    padding: 1.4rem;
    background-color: #0074e4;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #f5f5f5;
    border: none;
    font-weight: bold;
    font-family: Inter,sans-serif;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
}
.buttget button:hover{
    background-color: #46a6ff;
}
.buttcart button{
    margin-top: 1rem;
    padding: 1.4rem;
    background-color: #121212;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #f5f5f5;
    border: 0.1rem solid #9a9a9a;
    font-weight: bold;
    font-family: Inter,sans-serif;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
}
.buttcart button:hover{
    background-color: #4b4b4b;
}
.buttwlist button{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #121212;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #f5f5f5;
    border: 0.1rem solid #9a9a9a;
    font-weight: bold;
    font-family: Inter,sans-serif;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.buttwlist button:hover{
    background-color: #4b4b4b;
}
#plus{
    height: 1rem;
    /* background-color: #fff;
    border-color: #f5f5f5; */
}

.fa-plus{
    position: relative;
    left: 8.5rem;
    top: -2.7rem;
    color: white;
    cursor: pointer;
    /* height: 15px;
    width: 15px; */
}

.t1{
    /* border-top: solid red 1px; */
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-family: Inter,sans-serif;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #2a2a2a;
    font-size: 1.3rem;
}

.t2{
    color: #858585;
    font-weight: bold;
    
}

.buttcont{
    display: flex;
    justify-content: space-around;
}
.b1 button{
    margin-top: 1.5rem;
    margin-left: -1rem;
    padding: 1rem 4rem;
    border: solid 0.1rem #9a9a9a;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter,sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.b1 button:hover{
    background-color: #4b4b4b;
}
.fa-share-nodes{
    color: white;
    position: relative;
    left: 2rem;
    cursor: pointer;
    /* background-color: #0074e4; */
}
.fa-windows{
    font-size: 2rem;
}
.fa-flag{
    color: white;
    position: relative;
    left: 2rem;
    cursor: pointer;
    /* background-color: #0074e4; */
}



/* --------------------FOOTER CODE--------------- */

footer{
    height: 45rem;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .f-outer {
    /* height: 50rem;
    width: 100%; */
    color: #0074e4;
    border: 1px solid #202020;
    background-color: #202020;
  }
  
  .f-inner {
    /* height: 40rem;
    width: 100rem; */
    margin: 5rem 7rem;
    background-color: #202020;
    /* border: solid 1px #202020; */
  
  }
  
  .symbols {
    background-color: #202020;
  }
  #fsymb {
    font-size: 3.5rem;
    padding: 0.5rem;
    color: #cccccc;
    cursor: pointer;
    background-color: #202020;
    transition: color 0.3s ease-in-out;
    /* border: 1px solid red; */
  }
  #fsymb:hover {
    color: #0074e4;
  }
  #fsymb2 {
    font-size: 3.5rem;
    padding: 0.5rem;
    color: #cccccc;
    cursor: pointer;
    background-color: #202020;
    transition: color 0.3s ease-in-out;
    /* border: 1px solid red; */
  }
  #fsymb2:hover {
    color: red;
  }
  
  .fbox1 {
    /* border: 1px solid yellow; */
    /* width: 51rem; */
    border-bottom: 0.1rem solid #333333;
    padding-bottom: 3rem;
    background-color: #202020;
  }
  .fbox1 p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #656565;
    background-color: #202020;
  }
  .kmorebox {
    display: flex;
    /* width: 50rem; */
    font-size: 1.4rem;
    background-color: #202020;
  
    /* border: 1px solid green; */
  }
  .items1 {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
    color: #e7e7e7;
    background-color: #202020;
  }
  .items1 span {
    margin-bottom: 0.5rem;
    background-color: #202020;
  }
  .items2 {
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    color: #e7e7e7;
    background-color: #202020;
  }
  .items2 span {
    margin-bottom: 0.5rem;
    background-color: #202020;
  }
  .items3 {
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    color: #e7e7e7;
    background-color: #202020;
    /* border: solid 1px red; */
  }
  .items3 span {
    display: block;
    margin-bottom: 0.5rem;
    background-color: #202020;
  }
  
  .fbox2 {
    /* width: 95rem; */
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #bdbdbd;
    padding-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid #333333;
    background-color: #202020;
  }
  .fbox2 p {
    background-color: #202020;
  }
  .terms {
    /* width: 50rem; */
    display: flex;
    text-decoration: none;
    background-color: #202020;
  }
  .terms a {
    text-decoration: none;
    color: #bdbdbd;
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    background-color: #202020;
    transition: color 0.3s ease-in-out;
    /* border: 1px solid yellow; */
  }
  
  .terms :hover {
    color: rgb(217, 255, 0);
  }
  
  @media (max-width: 1550px) {
    html {
      font-size: 50%;
    }
  }
  @media (max-width: 1180px) {
    html {
      font-size: 40%;
    }
  }


/* -------------------SwiperCSS------------ */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */

}

.swiper-slide video{
    object-fit: cover;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    /* UPPER SWIPER BOX */
    /* border: 2px solid red; */
    /* height: 80%; */
    height: 500px;
    width: 100%;
    margin-bottom: 9px;
    /* padding-bottom: 5px; */
}

.mySwiper {
    /* 2nd swiper height */
    height:120px;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    margin-left: 5px;
    /* padding: 10px 2px; */
    
}

.mySwiper .swiper-slide {
    /* width: 25%;
    height: 100%; */
    opacity: 0.4;
    padding: 0px ;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}